.sobre{
    background-color:transparent!important;
    position: relative;
}
.sobre:before{
    background-image: url('../img/seja-parceiro.jpg');
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
}

.contato{
    background-color:transparent!important;
    position: relative;
}

.contato:before{
    background-image: url('../img/seja-parceiro.jpg');
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
}
div .border-warning:hover{
    background-color:gray;
}