.sobre{
    background-color:transparent!important;
    position: relative;
}
body{
    font-family: 'Roboto', sans-serif!important;
}
.preto{
    background-color: #010101!important;
}

.amarelo{
    background-color:#FBC42A!important;
}

.amarelo-texto{
    color: #FBC42A;
}

.preto-text{
    color:#010101;
}

.amarelo-borda{
    border: 1px solid #FBC42A !important;
}
.sobre:before{
    background-image: url('../img/seja-parceiro.jpg');
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
}

.contato{
    background-color:transparent!important;
    position: relative;
}

.contato:before{
    background-image: url('../img/seja-parceiro.jpg');
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
}